.Card-Heading{
    text-align: center;
    padding: 4rem 0 2rem 0
}
.Project-Container{
    max-width: 1040px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5px;
    padding-bottom: 1.5rem;


}
.Project-Card{
    padding: 0.5rem 1rem;
    background-color: black;
}
.Project-Card img{
    width: 100%;
}
.Pro-Btu{
    margin-left:1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5;
}

.Project-Detail{
    font-size: 1rem ;
    text-align:"justify-content";
    

}
.Project-Title{
    color:#fff;
    padding:1rem 0rem
}

@media screen and (max-width:640px) {
    .Project-Container{
        max-width:90%;
        grid-template-columns: 1fr;
        padding-bottom: 0.2rem;
    }
    .Project-Card{
        background-color: rgba(255,255,255, 0.1);
    }
    .Pro-Btu{
        margin-left: 1rem;
        margin-top: 1.2rem;
    }
    
}