
.Head{
    text-align: center;
    margin-top: 2rem;
}
.Pic{
    
    padding: 1rem;
    
    
}
.Pic img{
    width: 100%;
    justify-content: center;
    padding: auto;
    margin-top: 0.5rem;

}
.Container{
    max-width:1040px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2px;
    padding-bottom: 1.5rem;

}
.HSC{
    margin-left: 17rem
    ;
}
.Awd_con{
    
    margin-left: 0.5rem;
    margin-top: 1rem;
    display: flex;
}
@media screen and (max-width:640px) {
    .Container{
        max-width:90%;
    }
    .HSC{
        margin-left: 2.5rem;
        width: 80% !important;
        height: 70% !important;

    }
    .Pic img{
        width: 100%;
        margin-top: 1.2rem;
        justify-content: center;
        flex-direction: column;
    }
    .Pic{
        padding : 1rem 
    }
    h4{
        font-size: small;
    }
    .Awd_con{
        margin-bottom: 0.5rem;
    }
}
    .Card{
        padding: 0.5rem 1rem;
        background-color: black;
        margin:auto;
        justify-content: center;
        width:330px;
        height:330px
    
    }
    .Card img{
        width: 100%;   
    }
    
