.Card-Heading{
    text-align: center;
    padding: 2rem 0 2rem 0
}
.Project-Container{
    max-width: 1040px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    padding-bottom: 1.5rem;
}
.Project-Card{
    background-color:black;
    padding: 1.2rem 1.5rem;
}
.Project-Card img{
    width: 100%;
}

 .Pro-btu{
    margin-left:1.5rem
    }


.Project-Detail p{
    font-size: 0.9rem;
    text-align: justify;
    padding-bottom: 1rem;

}
.Project-Title{
    color:#fff;
    padding:1rem 0rem;
    font-size:1.2rem
}

@media screen and (max-width:640px){
    .Project-Container{
        max-width:90%;
        grid-template-columns: 1fr;
        margin-bottom: 1.2rem;
    }
    table{
        max-width:90%
    }

    

 th,td{
    font-size: 0.7rem;   
}
}
table{
    max-width: 1040px;
    margin:auto;
    padding-bottom: 1.5rem;
    justify-content: center;
    }

th{
    background-color:rgb(60, 179, 60, 0.653);
    font-size: 1.2rem;
    color:#fff;
    border-color: #fff;
    height: 80px;
    border:0.4rem solid
}
td{
    background-color:rgba(40, 0, 255, 01) ;
    height: 50px;
    color:#fff;
    border-color: #fff;
    border:0.3rem solid
}


  