.Card-Heading{
    text-align: center;
    padding: 2rem 0 2rem 0
}
.Project-Container{
    max-width: 1040px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    padding-bottom: 1rem;
}
.Project-Card{
    background-color: #1a1919;
    padding: 1.2rem 1.5rem;
}
.Project-Card img{
    width: 100%;
}
.Pro-Btu{
    margin-top: 1rem;
    justify-items: center;
}

.Project-Detail p{
    font-size: 0.9rem;
    text-align: justify;
    padding-bottom: 1rem;

}
.Project-Title{
    color:#fff;
    padding:1rem 0rem;
    font-size:1.2rem
}

@media screen and (max-width:640px) {
    .Project-Container{
        max-width:90%;
        grid-template-columns: 1fr;
    }
    
}
table, tr, th, td{
    color:#fff;
    border-color: #fff;
    border: 0.3rem solid;
    background-color: #1a1919;
    align-content: center;
    margin-left: 7rem;  
    align-items: center;   
}
th {
    height: 70px;
  }
  .BTN {
    justify-content: center;
    align-items: center;
    margin-left: 11%;
    padding-bottom: 1.5rem;
  }